!!!
%html
  %head
    %meta{charset: "utf-8"}
    %link{rel: "stylesheet", type: "text/css", href: "/css/styles.css"}
    %title ОШИБАКА - Скачать фотки с собой
  %body
    %div.main
      %p Что-то пошло не так:
      %p.error= @msg
      %a{href: "/"} ПОПРОБОВАТЬ ЕЩЁ РАЗ