!!!
%html
  %head
    %meta{charset: "utf-8"}
    %link{rel: "stylesheet", type: "text/css", href: "/css/styles.css"}
    %title Скачать фотки с собой
  %body
    %div
      %h2 Скачай все фотки с тобой из&nbsp;VK
      %p.info (но не больше тысячи)
      %a{href: '/auth'} НАЧАТЬ
      %p.info (после авторизации придётся <strike>не</strike><b>много</b> подождать)